@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

/* Custom CSS */
#bnb a.active {
    @apply text-primary font-extrabold text-4xl border-b-2 border-primary;
}

#adminbnb a.active {
    @apply text-4xl text-primary;
}

/* Using External Font-Faces */
@font-face {
    font-family: 'Kanit';
    src: url('../src/assets/fonts/Kanit-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/poppins.ttf');
}