@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

/* Carousel Animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Using External Font-Faces */
@font-face {
    font-family: 'Kanit';
    src: url('../src/assets/fonts/Kanit-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/poppins.ttf');
}