@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

/* Custom CSS */
#bnb a.active {
    @apply text-info font-extrabold text-4xl transition-all border-b-2 border-info;
}

/* Using External Font-Faces */
@font-face {
    font-family: 'Kanit';
    src: url('../src/assets/fonts/Kanit-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/poppins.ttf');
}